{% extends "base.html" %}

{% block content %}
    
<body>
<div class='container'>
  <div class="starter-template">

    This web service was developed as part of my artificial intelligence fellowship at <a href="https://www.insightdata.ai/">Insight Data Science</a>. 

    <h1>Sanjif Rajaratnam</h1>

    <table style="float:center; margin-left: 25%; width: 50%; font-size:125%; text-align:center; vertical-align:center">
      <tr>
        <td>
          <figure>
            <div style="width:image width px; text-align:center;">
            <img src="https://lh3.googleusercontent.com/p6H3u-1yOi3nYiYeoSfHE7aDg1slsnC3AfVh1hY5qthyXYTyUtQtPXhl_j0eH9DO9VuFkeAuAyIbTR_1RK17k5T_E-rD8yD2SsN9PkQuxDnv1S3bkOMYvPZKqFAvmO4DRKSebaujnbaLkzDfzTBH8O2qCEymLWenbwyykCOevpz9hhPHUuw69LIWuLv4aoB4pOl5-M9ZpNgsW73DRTV817EsRfEHjhY21HMevlo_Z7vu9Q7OlU25rl-hWoi-Mqj3ZGIwVmVPCmaKHdRa_dxiHntnhkQ2llond636m0OFZncKhoWL6svpeUZNKxmcCTOM67Tv4jJ7e28l7asSeyvmn69yF5UWTREleGPX8ctTXM-wgwAdzXTBqBQL9bH3MM7w84aU1qN3L5deQjSZXF30qyky4uVPmNtLQiN1FYV4gC_BlORGceUC4mDsOsJi3UHgP0BMCVpIOP3JbAs_GXVQKf_IvdEvl2UoPv3PZh_T0BjlTi5q28e_NWyQpOKhcIe9fv4xgKTHcGfIx-sDrznilbS0t9F9a_Yb165Dv6QmAV3ZxMAUKOmHteYEsvgKSNzMGUZkOeCjEdmr_dJxCnMjHZpOKU7B_JUpnNTpxtLI5o0yQ25CGU5hNOHuqI6KMlCA5hVKjba0YGgY_i-3o1-Bujy7yVgqMqpeCoVcrTv92cM8cWT9wW3TIlwf2WaSui2Vna8LIBEK7-qcxji77_JKoJYihw=w601-h901-no" width="125">
          </figure>
        </td>
        <td valign="center">
          <div style="width:image width px; text-align:left;">
            &nbsp;&nbsp;
            <a href="r.sanjif@gmail.com">
              <img src="../static/icons/at.svg" alt="Source code link" width="24" height="24" border="20" opacity="1">
            </a>
            <font size="3%">r.sanjif@gmail.com</font>
          </div>

          <div style="width:image width px; text-align:left;">
            &nbsp;&nbsp;
            <a href="http://tinyurl.com/sraj-ln">
              <img src="../static/icons/linkedin.png" alt="Source code link" width="24" height="24" border="20" opacity="1">
            </a>
            <a href="https://www.linkedin.com/in/sanjifr3"><font size="3%">https://www.linkedin.com/in/sanjifr3</font></a>
          </div>

          <div style="width:image width px; text-align:left;">
            &nbsp;&nbsp;
            <a href="https://www.github.com/sanjifr3">
              <img src="../static/icons/github.png" alt="Source code link" width="24" height="24" border="20" opacity="1">
            </a>
            <a href="https://www.github.com/sanjifr3"><font size="3%">https://www.github.com/sanjifr3</font></a>
          </div>

          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        </td>
      </tr>
    </table>
  </div>
</div>
</body>

{% endblock %}
