{% extends "base.html" %}

{% block content %}

<body>

<!-- Upload Form -->
<div class='container'>
  <div class="starter-template">
  <h2>Demo</h2>
  <h4>Upload image or video</h4>
  <p><b>Note</b>: Only supports .mp4 videos for playback</p>
  <br>
  <form action="" method=post enctype=multipart/form-data>
    <div style="text-align:left;">
    <input type=file name=file>
    <br>
    <input align="left" type="checkbox" name="by_scene" value="by_scene">&nbspBy Scene? (Only for videos)
    <br><br>
    <div style="text-align:center;">
    <input type=submit value=Upload>
  </form>
</div>

<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>

</body>

{% endblock %}
