{% extends "base.html" %}

{% block content %}

<div class="container">
<body>

<!-- Header -->
<div class="header" id="myHeader">
  <h2>Image Description Examples</h2>
  <p>Click on the buttons to change the grid view.</p>
  <button class="btn" onclick="one()">1</button>
  <!-- <button class="btn active" onclick="two()">2</button> -->
  <button class="btn" onclick="two()">2</button>
  <button class="btn" onclick="four()">4</button>
</div>

<!-- Photo Grid -->
<div class="row">
  <div class="column">
    {% for im in im_dict[0] %}
    <figure>
      <div style="width:image width px; text-align:center;">
      <img src={{ url_for('get_sample', filename=im['url']) }} style="width:100%">
      <audio controls style="height: 25px; width: 200px;">
         <source src="{{ url_for('get_sample', filename=im['gt_audio']) }}" type="audio/ogg">
         Your browser does not support the audio element.
      </audio><br>
      <font size="2.5%" color="green">{{ im['gt'] }}</font><br> 
      <audio controls style="height: 25px; width: 200px;">
         <source src="{{ url_for('get_sample', filename=im['cap_audio']) }}" type="audio/ogg">
         Your browser does not support the audio element.
      </audio><br>
      <font size="2.5%">{{ im['caption'] }}</font><br><br>
    </figure>
    {% endfor %}
  </div>
  <div class="column">
    {% for im in im_dict[1] %}
    <figure>
      <div style="width:image width px; text-align:center;">
      <img src={{ url_for('get_sample', filename=im['url']) }} style="width:100%">
      <audio controls style="height: 25px; width: 200px;">
         <source src="{{ url_for('get_sample', filename=im['gt_audio']) }}" type="audio/ogg">
         Your browser does not support the audio element.
      </audio><br>
      <font size="2.5%" color="green">{{ im['gt'] }}</font><br> 
      <audio controls style="height: 25px; width: 200px;">
         <source src="{{ url_for('get_sample', filename=im['cap_audio']) }}" type="audio/ogg">
         Your browser does not support the audio element.
      </audio><br>
      <font size="2.5%">{{ im['caption'] }}</font><br><br>
    </figure>
    {% endfor %}
  </div>
  <div class="column">
    {% for im in im_dict[2] %}
    <figure>
      <div style="width:image width px; text-align:center;">
      <img src={{ url_for('get_sample', filename=im['url']) }} style="width:100%">
      <audio controls style="height: 25px; width: 200px;">
         <source src="{{ url_for('get_sample', filename=im['gt_audio']) }}" type="audio/ogg">
         Your browser does not support the audio element.
      </audio><br>
      <font size="2.5%" color="green">{{ im['gt'] }}</font><br> 
      <audio controls style="height: 25px; width: 200px;">
         <source src="{{ url_for('get_sample', filename=im['cap_audio']) }}" type="audio/ogg">
         Your browser does not support the audio element.
      </audio><br>
      <font size="2.5%">{{ im['caption'] }}</font><br><br>
    </figure>
    {% endfor %}
  </div>
  <div class="column">
    {% for im in im_dict[3] %}
    <figure>
      <div style="width:image width px; text-align:center;">
      <img src={{ url_for('get_sample', filename=im['url']) }} style="width:100%">
      <audio controls style="height: 25px; width: 200px;">
         <source src="{{ url_for('get_sample', filename=im['gt_audio']) }}" type="audio/ogg">
         Your browser does not support the audio element.
      </audio><br>
      <font size="2.5%" color="green">{{ im['gt'] }}</font><br> 
      <audio controls style="height: 25px; width: 200px;">
         <source src="{{ url_for('get_sample', filename=im['cap_audio']) }}" type="audio/ogg">
         Your browser does not support the audio element.
      </audio><br>
      <font size="2.5%">{{ im['caption'] }}</font><br><br>
    </figure>
    {% endfor %}
  </div> 
</div>

</body>

{% endblock %}