{% extends "base.html" %}

{% block content %}

<div class="container">
    
<body>
<div class='container'>
  <div class="starter-template">
    <h3>Video Description By Scene Example</h3>
    <div class="model-box">
      <iframe class="model" src="https://www.youtube.com/embed/PaPxSsK6ZQA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    
    <br><br>

    <table style="width: 100%; font-size:150%; text-align:center; vertical-align:center">
      <tr>
        <th><div style="font-size:125%; text-align:right">Time Code</th> 
        <th><div style="font-size:125%; text-align:center">Audio</th> 
        <th><div style="font-size:125%; text-align:left">Caption</th>
      </tr>

      {% for scene in scenes_dict %}
      <tr>
        <td valign="center"><div style="text-align:right"><font size="3%">{{ scene['time'] }}&nbsp&nbsp</font></td>
        <td><div style="text-align:center"><audio controls style="height: 25px; width: 200px;">
         <source src="{{ url_for('get_sample', filename=scene['cap_audio']) }}" type="audio/ogg">
         Your browser does not support the audio element.
      </audio></td>
        <td valign="center"><div style="text-align:left"><font size="3%">&nbsp&nbsp{{ scene['caption'] }}</font></td>
      </tr>
      {% endfor %}
    
    </table>
  </div>
</div>
</body>

{% endblock %}