{% extends "base.html" %}

{% block content %}

<div class='container'>
  <div class="starter-template">
  <h3>Video Description By Scene Example</h3>
  <div class="model-box">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/PaPxSsK6ZQA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
<!--   <table style="width: 100%">
    <tr>
      <th>Time Code</th>
      <th>Audio</th> 
      <th>Caption</th>
    </tr>
  </table> -->
</div>

{% endblock %}